@use "sass:color";

@import "./colors.scss";

#__next, #app, html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: $background-color;
    color: $text-color;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

@mixin disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */ 
}

#frugle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#title {
    @include disable-select();
    cursor: default;
    margin: 128px 0px 32px;
    font-size: 96px;
    font-weight: bold;
}

#border-shadow-wrapper {
    box-shadow: 4px 8px 16px 4px color.adjust($search-unfocused-color, $alpha: -0.8);
    border-radius: 4px;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    fieldset {
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
    }

    #search, #address {
        width: 40vh;
        height: 50px;
        padding: 0px 16px;
        border: none;
        font-family: Arial, Arial, Helvetica, sans-serif;
        display: flex;
        align-items: center;
    
        input[type=text] {
            width: 100%;
            border: none;
            padding: 0;
            margin: 0;
            font-size: 16px;
            outline: none !important;
            background: transparent;

            &:focus, &:focus-visible {
                border: none;
            }
        
            &::placeholder {
                color: $search-placeholder-color;
            }
        }

        button[type=submit] {
            width: 20px;
            height: 50px;
            margin: 0 4px;
            padding: 0;
            border: none;
            background: transparent;
            background-size: 20px 50px;
            opacity: 60%;
            
            &#search-icon {
                background-image: url(../public/images/search-icon.svg);
                cursor: pointer;
            }
            
            &#address-icon {
                background-image: url(../public/images/address-icon.svg);
            }
        }
    }

    #autocomplete-address-box {
        margin: 0;
        border-radius: 4px;
        display: flex;
        flex-direction: column;

        #autocomplete-address-option-wrapper {
            width: 40vh;
            height: 50px;
            padding: 0px 16px;
            background: $text-input-background-color;

            #autocomplete-address-option {
                width: 100%;
                padding: 0;
                border: none;
                margin: 0;
                display: flex;
                align-items: center;
                background: transparent;
                cursor: pointer;
    
                #autocomplete-address-data {
                    width: 100%;
                    display: block;
                    text-align: left;
    
                    #line-one {
                        font-weight: bold;
                        font-size: 16px;
                    }
    
                    #line-two {
                        font-weight: bold;
                        margin: 2px 0 0;
                        font-size: 12px;
                        opacity: 80%;
                    }
                    
                }
    
                svg {
                    margin: 0px 4px;
                    width: 20px;
                    height: 50px;
                    opacity: 60%;
                }
            }

            &:hover {
                background: $address-hovor-color;
            }
        }
    }

    #search-results-box {
        width: 80vw;
        margin: 32px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        #search-result-wrapper {
            width: 20%;
            height: 20%;
            margin: 8px;
            padding: 8px;
            box-shadow: 4px 8px 16px 4px color.adjust($search-unfocused-color, $alpha: -0.8);
            border-radius: 4px;

            #search-result-option {
                width: 100%;
                padding: 0;
                border: none;
                margin: 0;
                background: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                #search-result-data {
                    width: 100%;
                    display: inline-block;
                    text-align: center;
                    

                    a {
                        text-decoration: none;
                        #store {
                            width: 100%;
                            height: 16px;
                            font-size: 2em;
                            color: $text-color;                            
                        }    
                    }

                    #name {
                        width: 100%;
                        height: 32px;
                    }
                }
                
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}