@use "sass:color";

@import "./colors.scss";

#__next, #app, html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: $background-color;
    color: $text-color;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}


#frugle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#title {
    margin: 128px 0px 32px;
    font-size: 64px;
    font-weight: bold;
}


#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    #shadow {
        box-shadow: 4px 8px 16px 4px color.adjust($search-unfocused-color, $alpha: -0.8);
    }

    #search, #address {
        width: 40vh;
        height: 40px;
        padding: 0px 16px;
        border-radius: 4px;
        border: none;
        font-family: Arial, Arial, Helvetica, sans-serif;
        background: $text-input-background-color;
        display: flex;    
    
        input[type=text] {
            width: 100%;
            border: none;
            padding: 0;
            margin: 0;
            font-size: 12px;
        
            &:focus, &:focus-visible {
                outline: none;
                border: none;
            }
        
            &::placeholder {
                color: $search-placeholder-color;
            }
        }

        button[type=submit] {
            width: 20px;
            margin: 0 4px;
            padding: 0;
            border: none;
            background: transparent;
            background-size: 20px 40px;
            opacity: 60%;
            
            &#search-icon {
                background-image: url(../public/images/search-icon.svg);
            }
            
            &#address-icon {
                background-image: url(../public/images/address-icon.svg);
            }
        }
    }

    #autocomplete-address {
        width: 100%;
        display: flex;
        justify-content: center;
    
        #autocomplete-address-box {
            width: 40vh;
            padding: 0px 16px;
            margin: 0;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            background-color: $text-input-background-color;
    
            #autocomplete-address-option {
                background-color: $text-input-background-color;
                width: 100%;
                margin: 0;
                padding: 0;
                border: none;
                display: flex;
                align-items: center;
                cursor: pointer;
    
                #autocomplete-address-data {
                    width: 100%;
                    display: block;
                    text-align: left;

                    #line-one {
                        font-weight: bold;
                        font-size: 12px;
                    }

                    #line-two {
                        font-weight: bold;
                        margin: 2px 0 0;
                        font-size: 8px;
                        opacity: 80%;
                    }
                    
                }
    
                svg {
                    margin: 0px 4px;
                    width: 20px;
                    height: 40px;
                    opacity: 60%;
                }    
            }
        }
    }
}